<div>
  <h2>Welcome to Bode's Rock Paper Scissors</h2>
 
  <p>
    You'll be playing against the computer <br/>
    The rules are:
    <ul>
      <li>Rock beats scissors</li>
      <li>Scissors beats paper</li>
      <li>Paper beats rock</li>
      <li>Identical throws tie (example <%= fa_icon "diamond", base: "circle", class: "fa-1x" %> == <%= fa_icon "diamond", base: "circle", class: "fa-1x" %>, etc)</li>
    </ul>
  </p>
  <hr/>

  <p>
    <h3>
      To play, select a sign to throw. 
    </h3>
    <%= link_to '<i class="fa fa-diamond fa-5x"></i>'.html_safe, '/throw/rock' %>
    <%= link_to '<i class="fa fa-file-text-o fa-5x"></i>'.html_safe, '/throw/paper' %>
    <%= link_to '<i class="fa fa-cut fa-5x"></i>'.html_safe, '/throw/scissors' %>
  </p>
</div>
